<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
    <meta name="author" content="admins" />
    <meta name="keywords" content="rainna's js lib" />
    <meta name="description" content="HTML_WEB" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="public/css/layui.css" rel="stylesheet" />
    <link href="public/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <link href="public/css/modules/code.css" rel="stylesheet" />
    <link href="public/css/comm.preset.css" rel="stylesheet" />
    <link href="public/css/common.css" rel="stylesheet" />
    <title><%= title %></title>
</head>

<body style="overflow: hidden;">
<%- include('public/loading-mask.ejs') %>
<section class="app-container">
<%- include('public/page-header.ejs') %>
<%- body %>
<%- include('public/page-footer.ejs') %>
</section>
</body>
<script type="text/javascript" src="public/js/layui.js"></script>
</html>